.dark3{
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    .container{
        height: 100%;
        
        width: 80vw;
        display: flex;
        justify-content: space-between;
        gap: 15vw;
        @media only screen and (max-width: 700px) {
            flex-direction: column;
            width: 100vw;
            gap: 1px;
            justify-content: center;
            height: 100vh;
            
        }
        
       
        .right{
           flex:1;
           display: flex;
           flex-direction: column;
           justify-content: center;
           gap: 20px;
           z-index: 2;
           @media only screen and (max-width: 700px) {
            flex: 1;
            height: 60vh;
            z-index: 0;
            align-items: center;
        }
           
           h1{
            font-size: 50px;
            font-weight: 400;
            font-family: 'Cinzel Decorative', cursive;
            @media only screen and (max-width: 700px){
                font-size: 4vh;
                text-align: center;
            }

           }
           h3{
            color: rgb(226, 7, 135);
            font-size: 30px;
            font-weight: 700;
            font-family: 'Dancing Script', cursive;
            @media only screen and (max-width: 700px){
                font-size: 30px;
                text-align: center;
            }
           }
           p{
            
            font-size: 20px;
            color: rgb(255, 255, 255);
            @media only screen and (max-width: 700px){
                font-size: 2vh;
                text-align: center;
            }
           }
           
          .buttons{
            display: flex;
            gap: 20px;
            
            button{
                background-color: #e20787;
                color: white;
                font-weight: 500;
                width: 150px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                @media only screen and (max-width: 700px){
                    padding: 5px;
                    width: 100px;
                }
               }
          }
            
        }
        .left{
            flex: 1;
            
            position: relative;
            width: 50vw;
            margin-left: -35vw;
            margin-right: 15vw;
            color: #c6a0d3;
            @media only screen and (max-width: 700px){
                flex: 1;
                display: flex;
                height: 40vh;
                width: 100%;
                scale: 0.8;
                align-items: center;
                justify-content: center;
                margin-left: auto;
               margin-right: auto;
            }
       
        }
    }
}
.light3{
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    .container{
        height: 100%;
        
        width: 80vw;
        display: flex;
        justify-content: space-between;
        gap: 15vw;
        @media only screen and (max-width: 700px) {
            flex-direction: column;
            width: 100vw;
            gap: 1px;
            justify-content: center;
            height: 100vh;
            
        }
        
       
        .right{
           flex:1;
           display: flex;
           flex-direction: column;
           justify-content: center;
           gap: 20px;
           @media only screen and (max-width: 700px) {
            flex: 1;
            height: 60vh;
            z-index: 0;
            align-items: center;
        }
           
           h1{
            font-size: 50px;
            font-weight: 400;
            font-family: 'Cinzel Decorative', cursive;
            color:rgb(82, 33, 83);
            @media only screen and (max-width: 700px){
                font-size: 5vh;
                text-align: center;
            }

           }
           h3{
            color: rgb(226, 7, 135);
            font-size: 30px;
            font-weight: 700;
            font-family: 'Dancing Script', cursive;
            @media only screen and (max-width: 700px){
                font-size: 30px;
                text-align: center;
            }
           }
           p{
            font-size: 20px;
            color: rgb(85, 9, 82);
            @media only screen and (max-width: 700px){
                font-size: 2vh;
                text-align: center;
            }
           }
           .buttons{
            display: flex;
            gap: 20px;
            button{
                background-color: #e20787;
                color: white;
                font-weight: 500;
                width: 150px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
               }
          }
            
        }
        .left{
            flex: 1;
            
            position: relative;
            width: 50vw;
            margin-left: -35vw;
            margin-right: 15vw;
            color: #c6a0d3;
            @media only screen and (max-width: 700px){
                flex: 1;
                display: flex;
                height: 40vh;
                width: 100%;
                scale: 0.8;
                align-items: center;
                justify-content: center;
                margin-left: auto;
               margin-right: auto;
            }
       
        }
    }
}
