
.nav{
    display: flex;
    justify-content: center;
    z-index: 3;
    position: sticky;
    top: 0;
    .container1{ 
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
     @media only screen and (max-width: 600px) {
        width: 100vw;
        padding: 55px 10px;
        
        margin-right: 40px;

      }
   
   
        .Logo{
            text-shadow: 2px 3px 2px rgba(233, 214, 251, 0.579), 0 0 1em rgb(159, 0, 239), 0 0 0.2em rgb(69, 6, 121);
           cursor: pointer;
            h1{
                 font-family: 'Kaushan Script', cursive;
                 font-size: 35px;
                 letter-spacing: 2px;
            }
            p{
                font-size: 15px;
                margin-top: -8px;
                font-family: 'Kaushan Script', cursive;

            }
        }
    .links{
        .nav_menu{
            display: flex;
            
            justify-content: space-around;
            gap: 3rem;
            padding-right: 2vw;
            font-size: 18px;
            @media only screen and (max-width: 600px) {
                position: fixed;
                background-color: #2a0834f5;
                flex-direction: column;
                top: 0vh;
                width: 30%;
                height: 95vh;
                right: 0;
                transform: translateX(100%);
                transition: 0.5s ease-out;
                font-size: 15px;
                gap: 1rem;
                padding-right: 0vw;
                
            
          } 
            li{
                .link{
                    color: inherit;
                text-decoration: none;
                font-family: 'Kaushan Script', cursive;
                cursor: pointer;
                }
                list-style: none;
                
                
            }
        }
        .nav_collapse{
            transform: translateX(0%);
        }
        .toggler_icon{
            cursor: pointer;
            position: absolute;
            display: none;
            transform: translateY(-50%);
            
            @media only screen and (max-width: 600px) {
                display: block;
                margin-right: 1vw;
            
          } 
          .icon{
            height: 35px;
            width: 35px;
            
            
          }
          .icon2{
            display: none;
            height: 35px;
            width: 35px;
            
          }
         
           
        }
        .toggle{
            .icon{
                display: none;
            }
            .icon2{
                display: block;
            }
          }
    }
    }
}