.work{
    height: 100vh;
    scroll-snap-align: center;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    @media only screen and (max-width: 700px){
        gap: 0vh;
        height: 100vh;
       
        
    }

    .Title{
       
        h1{
           
                color: rgb(226, 7, 135);
                font-size: 30px;
                font-weight: 700;
                font-family: 'Dancing Script', cursive;
                @media only screen and (max-width: 700px){
                    font-size: 3vh;
                    
                }
        }
    }
    .scroll{
        margin-top: 20px;
        gap: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
        .Mobile{
            display: none;
             @media only screen and (max-width: 700px){
                    display: inline-block;
                     padding: 5px;
            border: 1px solid rgb(50, 3, 52);
            border-radius: 10px;
                    
                }
        }
        .desktop{
            display: inline-block;
            padding: 10px;
            border: 1px solid rgb(50, 3, 52);
            border-radius: 10px;
            
            
             @media only screen and (max-width: 700px){
                    display: none;
                    
                }
        }
    }
    .container{
      display: flex;
      gap: 5vw;
      
  transition: transform 0.5s ease;
 &.transition {
    transform: translateX(-100%);
  }
      
      @media only screen and (max-width: 700px){
        flex-direction: column;
        gap: 10px;
        
      }
      
        .project{
            width: 25vw;
            display: flex;
        flex-direction: column;
        gap: 5vh;
            padding: 3vh 1vw;
            background-color: rgb(64, 4, 67);
            border-radius: 15px;
            align-items: center;
            
            
            @media only screen and (max-width: 700px){
                width: 90vw;
                gap: 2px;
                padding: 1vh auto;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;
            }
            h2{
                @media only screen and (max-width: 700px){
                    font-size: 2.5vh;
                    margin-left: 5px;
                    position: absolute;
                    left: 9.5rem;
                    top: 2rem;
                    
                }
            }
            p{
                text-align: center;
                font-size: 15px;
                font-weight: 300;
                @media only screen and (max-width: 700px){
                    font-size: 1.7vh;
                    margin-top: 5px;
                    
                }
            }
            
            img{
                width: 22vw;
                border-radius: 10px;
                @media only screen and (max-width: 700px){
                    width: auto;
                    height: 5rem;
                }
            }
            .icons{
                display: flex;
                gap: 10px;
                @media only screen and (max-width: 700px){
                    position: absolute;
                    left: 10rem;
                    top: 5rem;
                    
                }
            
                
                a{
                    color: inherit;
                    text-decoration: none;
                 &:hover{
                    scale: 1.3;
                    color: rgb(224, 13, 161);
                }
                .icon{
                    @media only screen and (max-width: 700px){
                        width: 20px;
                        height: 20px;
                        
    
                        
                        
                    }
                  }
                }
    
                
            }
          
      }
    }
}